@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="signup-page">
    <h1 class="display-4">Signup</h1>
    <p>Enter the Sinup Details</p>
</div>

<div>
    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Name of User</label>
            <input type="text" asp-for="Name" class="form-control"/>
        </div>
    <div class="form-group">
            <label asp-for="Role">User Role</label>
            <select asp-for="Role" class="form-control">
                <option value="Voter">Voter</option>
                <option value="Candidate">Candidate</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input type="text" asp-for="Username" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control" />
        </div>

        <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>