@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="login-page">
    <h1 class="display-4">Login</h1>
    <p>Enter the Login Details</p>
</div>

<div>
    <form method="post">
        <button type="submit">Click Here!</button>
    </form>
</div>