@page
@model VotingSystem.Razor.Pages.Success
@{
    ViewData["Title"] = "Submission Successful";
    
}

<h1>Details submit successfully</h1>
<p>Your details have been submitted successfully.</p>

<div>
    
</div>